
.box{
    height: 50px;
    width: 50px;
    padding: 10px;
    border: 1px;
}

body{
    background-color: gray;
}

.box-red {
    background-color: red;
}

.box-orange {
    background-color: orange;
}